# PostgreSQL Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=tp_user
DB_PASSWORD=tp_password
DB_NAME=tp_grading

# GitHub (optionnel - utilisé par Actions)
GITHUB_TOKEN=
GITHUB_SHA=

# Environnement
ENVIRONMENT=development
DEBUG=False
